OPENAI_API_KEY="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"
PINECONE_API_KEY=""
PINECONE_ENVIRONMENT=""
PINECONE_INDEX=""
https_proxy="http://127.0.0.1:7890"
http_proxy="http://127.0.0.1:7890"
